@use "var" as v;
@use "reset";
@use "top";
@use "nav";
@use "header";
@use "btn";
@use "footer";
@use "waves";
@use "serabi";
@use "mobile";
@use "animation";
@use "scroll";

// pages
@use "pages/anim";
@use "pages/about";
@use "pages/contact";
@use "pages/menu";
@use "pages/album";

.flip-box span div {
    padding: 5px;
    background: #00000057;
    margin-top: 5px;
}

// .pages div{
//   animation-duration: unset !important;
// }
