<!DOCTYPE html>
<html lang="en">
  <head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body >

    <nav>
      <header class="logo">
        <a href="/">logo</a>
      </header>
      <div class="nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Menu</a></li>
        </ul>
      </div>
    </nav>

    <div class="header">
      <h2>Serabi Khas Ngampin Ambarawa</h2>
      <h3>Bu Yuni</h3>
      <p>
        Siap melayani pesanan dengan rasa dan kualitas yang wow banget
      </p>
    </div>

  <div class="btn">
      <a href="/blog"><span>Pesan Sekarang!</span></a>
      <a href="/blog"><span>Lokasi</span></a>
      <a href="/blog"><span>Datar Menu</span></a>
  </div>

    <h2>Follow on :</h2>
    <div class="follow">
      <a href="" class="facebook"></a>
      <a href="" class="instagram"></a>
      <a href="" class="twitter"></a>
      <a href="" class="tiktok"></a>
    </div>

    <footer>
      &#169; Copyright 2021, All rights reserved.
    </footer>

  </body>
</html>
