<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <img
        src="/img/{{ .Destination | safeURL }}.min.png"
        alt="{{ .Text }}"
        style="width: 300px; height: 200px"
      />
    </div>
    <div class="flip-box-back">
      <span>
        {{ .Text | safeHTML }}
        <div>
          <a
            href="/img/{{ .Destination | safeURL }}.png"
            target="_blank"
            rel="nofollow"
            >see full img</a>
        </div>
      </span>
    </div>
  </div>
</div>
