@use "../var" as v;
.contact {
  div.contact{
  width: auto;
  height: 80vh;
  z-index: 8;
  // background-color: red;
  padding: 25px;
  animation-name: right;
  background: rgb(255, 255, 255,.2);
  }
}
