@use "var" as v;
nav {
  svg{
    width: 50px;
    height: 50px;
    fill: #fff;
  }
  .nav {
    ul {
      display: flex;
      list-style: none;
    }
    ul li {
      margin: 0;
      padding: 15px;
    }
    a:hover {
      color: v.$c2;
    }
    padding: 0;
    text-align: right;
    position: fixed;
    right: 50px;
    top: 0;
  }

  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  padding: 0 15px;
  width: 100%;
  background: v.$bg;
  height: 50px;
  margin: -8px;
}
