@use "var" as v;
nav {
  svg {
    width: 80px;
    height: 50px;
    fill: #fff;
  }
  ul {
    display: flex;
    list-style: none;
  }
  ul li {
    margin: 0;
    padding: 15px;
  }
  a:hover {
    color: v.$c2;
  }
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  // transform: translate(0, 88vh);
  text-align: center;
  z-index: 10;
}
