@use "var" as v;
/* ======== reset ========= */
// @import url("https://fonts.googleapis.com/css2?family=Quando&display=swap");
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
  // max-width: 100% !important;
  margin: 0;
  padding: 0;
  font-weight: 500;
    color: v.$c1;
}
@-ms-viewport {
  width: device-width;
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
body {
  font-family: sans-serif;
  font-size: 90%; /*ukuran font body*/
  font-weight: 100;
  line-height: 1.5;
  color: #000000cc; /*warna font body*/
  background-color: v.$bg; /*warna bg body*/
}
blockquote cite {
  font-size: 70%;
  opacity: 0.8;
}
blockquote em {
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 30px 0 20px 0;
    color: v.$c1;
  font-family: "Quando", serif;
  text-transform: uppercase;
}
h1 {
  font-size: 200%;
}
h2 {
  font-size: 180%;
}
h3 {
  font-size: 160%;
}
h4 {
  font-size: 140%;
}
h5 {
  font-size: 120%;
}
h6 {
  font-size: 100%;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
pre {
  overflow: auto;
}
a,
a:hover {
  text-decoration: none;
  font-weight: 700;
  overflow: hidden;
    color: v.$c1;
}
b,
strong {
  font-weight: bold;
    color: v.$c1;
}
