<div class="about">
  <img src="/img/serabi.png" alt="">
  <div>
    <h2>About</h2>
    <p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae quod in, recusandae fugit sed harum ipsa non hic, facere repellendus voluptatibus beatae quae qui nisi inventore cupiditate! Accusamus, placeat vero!Quia, maiores commodi consequatur aspernatur repellendus consectetur. Voluptatibus excepturi est, doloribus dolor illo consequatur ratione eveniet nesciunt ipsam animi fuga qui enim explicabo ad facilis, iure quod repellat, quia cum.
    </p>
  </div>
</div>
