<div class="about">
  <div class="cover">
  <div class="card">
    <img class="img-toko" alt="{{ .Site.Title }}" src="/img/serabi.min.png" alt=""></img>
  <div class="ttg-toko">
    <h3>Tentang Toko</h3>
    <p>
    Warung ini berdiri kembali setelah tidur panjang. Dimana warung ini berdiri sejak 2002. Dan kini kembali dengan warna baru dan branding baru. Yang dengan hal ini diharapkan akan menjadi lebih baik dari dulu. Dan logo yang digunakan warung ini mempresentasikan bulatan serabi dan sendok. Dengan makna bulatan yang tak pernah putus, seperti harapan kami yang tak pernah putus. Dan bulatan putus yang nampak nyambung, mempresentasikan kembalinya kami dalam bisnis kuliner ini. Dan sendok ini mempresentasikan makanan yang siap santap.
    </p>
  </div>
  </div>
  <div class="card">
  <div class="ttg-penjual">
    <h3>Tentang Penjual</h3>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias culpa repellat debitis harum nihil rem esse tempore porro eaque praesentium, exercitationem quos dolorem laboriosam asperiores ex laudantium iste at vero!
    </p>
  </div>
    <img class="img-penjual" alt="{{ .Site.Title }}" src="/img/serabi.min.png" alt=""></img>
  </div>
  </div>
  </div>
</div>
