<div class="contact">
<h2 class="follow">Contact me :</h2>
<div class="btn">
  <a href="https://wa.me/message/PE5QUV4RBIU6L1" target="_blank" rel="nofollow"class="tlp">0838 2938 3123</a>
  <a href="mailto:serabikocorbuyuni@gmail.com" target="_blank" rel="nofollow"class="tlp">serabikocorbuyuni@gmail.com</a>
<h2 class="follow">DM VIA :</h2>
  <a href="https://facebook.com/serabikocorbuyuni" class="fb">@serabikocorbuyuni</a>
  <a href="https://instagram.com/serabikocorbuyuni" class="ig">@serabikocorbuyuni</a>
  <a href="https://twitter.com/serabibuyuni" class="tw">@serabikocorbuyuni</a>
</div>
</div>
