<div class="menu">
  <div class="cover">
    <div>
      <h2>Varian Rasa</h2>
      <div class="rasa">
        <div>
          <img src="/img/serabi.png" alt="" />
          <h3>Rasa Pandan</h3>
        </div>
        <div>
          <img src="/img/serabi.png" alt="" />
          <h3>Rasa Gurih Santan</h3>
        </div>
        <div>
          <img src="/img/serabi.png" alt="" />
          <h3>Rasa Gula Jawa</h3>
        </div>
        <div>
          <img src="/img/serabi.png" alt="" />
          <h3>Rasa Campur</h3>
        </div>
      </div>
    </div>
    <!-- harga -->
    <div>
      <h2>Harga</h2>
      <table>
        <tr>
          <td>1 porsi/5buah plus kuah (makan ditempat)</td>
          <td>Rp.6k</td>
        </tr>
        <tr>
          <td>1 porsi/5buah plus kuah (dibungkus)</td>
          <td>Rp.6k</td>
        </tr>
        <tr>
          <td>1 porsi/5buah plus kuah</td>
          <td>Rp.6k + discount</td>
        </tr>
      </table>
    </div>
  </div>
</div>
