<div class="header">
  <h2>Serabi Khas Ngampin Ambarawa</h2>
  <h3>Bu Yuni</h3>
  <p>"Siap melayani pesanan dengan rasa dan kualitas yang wow banget"</p>
    <a href="/img/serabi.png" target="_blank" rel="nofollow"><img class="serabi" class="serabi" src="/img/serabi.min.png" alt=""></a>
</div>

<div class="btn">
  <a class="btn-tlp" href="#contact"><span class="tlp">Pesan Sekarang!</span></a>
  <a href="https://maps.app.goo.gl/KCZoCoaKVPjRFtps5" target="_blank" rel="nofollow"><span class="location">Lokasi</span></a>
  <a href="#menu"><span class="imenu">Datar Menu</span></a>
</div>
              
