  <header >
    <a href="/"class="logo"><h1>{{.Title}}</h1></a>
    <div class="nav">
      <ul>
        <li><a href="/"></a></li>
      </ul>
    </div>
  </header>
<nav>
    <ul>
            {{ range .Site.Menus.nav.Sort.ByWeight }}
            <li><a href="{{.URL}}"><span class="{{ .Name }}"></span>{{.Identifier}} </a></li>
      {{end}}
      <li><a href="#"><span class="about"></span>About</a></li>
      <li><a href="#"><span class="tlp"></span> Contact</a></li>
      <li><a href="#"><span class="menu"></span>Menu</a></li>
      <li><a href="#"><span class="album"></span>Album</a></li>
    </ul>
</nav>
