  <header >
    <a href="/"class="logo"><h1>{{.Title}}</h1></a>
    <!-- <div class="nav"> -->
  <!--     <ul> -->
  <!-- {{ with .Site.GetPage "/pages" }} -->
  <!-- {{ range.Paginator.Pages }} -->
  <!-- <li><a href="{{.Permalink}}">{{.Name}}</a></li> -->
  <!-- {{ end }} -->
  <!-- {{ end }} -->
  <!--     </ul> -->
    <!-- </div> -->
  </header>
<nav>
    <ul>
            {{ range .Site.Menus.nav.Sort.ByWeight }}
            <li class='{{.Identifier | lower}}'><a href="{{.URL}}"><span class="{{ .Name }}"></span>{{.Identifier}} </a></li>
      {{end}}
    </ul>
</nav>
