@use "../var" as v;
@media only screen and (max-width: 720px) {
  .header {
    line-height: initial;
    width: 100%;
    text-align: center;
    background: #035a0e;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
    margin: 25px auto;
  animation-name: header;
  animation-duration: 1s;  
  animation-fill-mode: both;
  }
@keyframes header {
  from {transform: translate(-999px,0)}
  to {transform: translate(0,0)}
}
}
