@use '../var' as v;
@media only screen and (max-width: 720px) {
  nav {
    svg {
      fill: v.$c1;
      width: 25px;
      height: 25px;
      display: unset;
    }
    li {
      margin: auto !important;
    }
    width: 100%;
    position: fixed;
    top: unset;
    bottom: 0 ;
    right: 0;
    width: 100%;
    background: v.$bgd;
    text-align: center;
  animation-name: up;
  }
}
