@use "var" as v;
/* width */
::-webkit-scrollbar {
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: v.$bgd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: v.$bgd;
}
